/RemoteSystemsTempFiles/
/.metadata/
/.recommenders
/xframework-boot/*.iml
/xframework-boot/target
/xframework-boot/.settings/
/xframework-boot/.project
/xframework-boot/.classpath
/xframework-boot/.idea
/xframework-boot/*/*.iml
/xframework-boot/*/target
/xframework-boot/*/.settings/
/xframework-boot/*/.project
/xframework-boot/*/.classpath
/xframework-boot/*/.idea
